html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8f8ff;
  font-family: 'Chango', cursive;
  color: #191970;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}
